# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# MacOS
.DS_Store
.ruff_cache/
